<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentalapp.infrastructure.mapper.RentalMapper">
    <insert id="insert" parameterType="com.rentalapp.infrastructure.model.TRentalModel" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        t_rental
        (
        customer_id
        ,book_id
        ,rental_start_date
        ,scheduled_return_date
        ,return_completion_date
        )
        VALUES
        (
        #{customerId}
        ,#{bookId}
        ,#{rentalStartDate}
        ,#{scheduledReturnDate}
        ,#{returnCompletionDate}
        )
    </insert>
    <update id="doReturn" parameterType="com.rentalapp.infrastructure.model.TRentalModel">
        UPDATE
        t_rental
        SET
        return_completion_date = #{returnCompletionDate}
        WHERE
        id = #{id}
        AND return_completion_date IS NULL
    </update>
    <select id="select" resultType="com.rentalapp.infrastructure.model.TRentalModel">
        SELECT
        *
        FROM
        t_rental
        WHERE
        id = #{id}
    </select>
    <select id="selectByCustomerId" resultType="com.rentalapp.infrastructure.model.TRentalModel">
        SELECT
        *
        FROM
        t_rental
        WHERE
        customer_id = #{customerId}
        AND return_completion_date IS NULL
    </select>
</mapper>