<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rentalapp.infrastructure.mapper.RentalMapper">
    <insert id="insert" parameterType="com.rentalapp.infrastructure.model.TRentalModel" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        t_rental
        (
        customer_id
        ,book_id
        ,rental_start_date
        ,scheduled_return_date
        ,return_completion_date
        )
        VALUES
        (
        #{customerId}
        ,#{bookId}
        ,#{rentalStartDate}
        ,#{scheduledReturnDate}
        ,#{returnCompletionDate}
        )
    </insert>
    <select id="selectById" resultType="com.rentalapp.infrastructure.model.TRentalModel">
        SELECT
        *
        FROM
        t_rental
        WHERE
        <choose>
            <when test="pattern == 1">
                id = #{id}
            </when>
            <when test="pattern == 2">
                customer_id = #{id}
            </when>
            <otherwise>
                book_id = #{id}
            </otherwise>
        </choose>
    </select>
    <select id="selectAll" resultType="com.rentalapp.infrastructure.model.TRentalModel">
        SELECT
        *
        FROM
        t_rental
        <if test="sort != null and sort != ''">
            order by ${sort}
        </if>
        <if test="limit != null">
            limit #{limit}
        </if>
        <if test="offset != null">
            Offset #{offset}
        </if>
    </select>
    <delete id="delete">
        DELETE FROM
        t_rental
        WHERE
        id = #{id}
    </delete>
</mapper>